{% extends 'booth/base.html' %}

{% block content %}

  <div id="description">
    <h1><strong>Resist</strong></h1>
      <p>What do you want to do?</p>

          <a href="{% url 'bulletin:check' %}">
          <div class = "description">
            <input id="button-bulletin" type="button" class="button" value="Check a Bulletin Board" />
          </div>
          </a>
          <a href="{% url 'register:create' %}">
          <div class= "description">
            <input id="button-register" type="button" class="button" value="Register for an Election" />
          </div>
          </a>
          <a href="#">
          <div class = "description">
            <input id="button-ballot" type="button" class="button" value="Cast a Vote" />
          </div>
          </a>
    </div>

{% endblock %}
